---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
import { getCdnUrl } from "@lib/cdn-utils";

interface Props {
  project: CollectionEntry<"projects">;
}

const { data, id } = Astro.props.project;

function linkInstagramUsernames(text: string) {
  if (!text) return "";
  return text.replace(/@([a-zA-Z0-9_.]+)/g, (_, username) => {
    return `<a class="link" href="https://www.instagram.com/${username}" target="_blank">@${username}</a>`;
  });
}

function formatDate(date: number | Date) {
  const options: Intl.DateTimeFormatOptions = {
    weekday: "long",
    year: "numeric",
    month: "long",
    day: "numeric",
  };
  return new Intl.DateTimeFormat("it-IT", options).format(new Date(date));
}
---

<div class="h-full">
  <div class="card bg-base-300 shadow h-full">
    <figure class="aspect-video">
      <img src={getCdnUrl(data.heroImage)} alt={data.title} draggable="false" class="rounded-t-box object-cover w-full h-full" />
    </figure>
    <div class="card-body p-4">
      <h5 class="card-title text-lg">{data.title}</h5>
      <div class="badge badge-secondary">{formatDate(data.pubDate)}</div>
      <p set:html={linkInstagramUsernames(data.credit)} />
      <p set:html={linkInstagramUsernames(data.colorCorrection ?? "")} />
      <p set:html={linkInstagramUsernames(data.editing ?? "")} />
      <div class="card-actions justify-end mt-auto">
        <a href={`/projects/${id}`} class="btn btn-primary btn-sm">
          <i class="bi bi-camera"></i> Vai alle foto!
        </a>
      </div>
    </div>
  </div>
</div>
