---
import { getLocalePath } from "i18n:astro";
import { t } from "i18n:astro";
import { Icon } from "astro-icon/components";

import Default from "@layouts/Default.astro";
import Projects from "@layouts/Projects.astro";

import Card from "@components/Card.astro";
import Socials from "@components/Socials.astro";
import CardProjects from "@components/CardProjects.astro";

import Alert from "@components/Alert.svelte";
import NowPlaying from "@components/NowPlaying.svelte";

import Chance from "@images/1Chance.png";
import Carsteroids from "@images/Carsteroids.jpg";
import Fedora33 from "@images/Fedora 33 wallpaper.jpg";
import Niagara from "@images/Niagara.png";
import RA from "@images/RA.jpg";
import Briefmaker from "@images/briefmaker.png";
import Webscreenshot from "@images/webscreenshot.png";
import Astroimg from "@images/astro.jpg";

const contact = getLocalePath("/contact");
---

<Default title="Pagina iniziale">
  <Alert client:load />
  <Card title={t("intro.title")} desc={t("intro.desc")} />
  <Card title={t("contact.title")}>
    <div class="text-center">
      <a class="btn btn-primary btn-lg" href={contact}><Icon class="text-2xl" name="material-symbols:send-rounded" /> {t("contact.desc")}</a>
      <div class="divider py-3">{t("contact.or")}</div>
      <Socials />
    </div>
  </Card>
  <Projects title={t("projects.title")}>
    <CardProjects
      img={Webscreenshot}
      title={t("projects.cards.website.title")}
      desc={t("projects.cards.website.desc")}
      btnLink="https://github.com/casungo/website"
      btnText={t("projects.cards.website.btnText")}
      btnIcon="bxl:github"
    />
    <CardProjects
      img={Briefmaker}
      title={t("projects.cards.briefmaker.title")}
      desc={t("projects.cards.briefmaker.desc")}
      btnLink="https://briefmakerapp.com/"
      btnText={t("projects.cards.briefmaker.btnText")}
      btnIcon="material-symbols:image-outline-rounded"
    />
    <CardProjects
      img={Fedora33}
      title={t("projects.cards.fedora33.title")}
      desc={t("projects.cards.fedora33.desc")}
      btnLink="https://pagure.io/design/issue/raw/files/219f997ff4aa506ea4ec4b3f82d380f32e2411027f3d62f8d8b059d55ed3c3b3-dawn.png"
      btnText={t("projects.cards.fedora33.btnText")}
      btnIcon="material-symbols:image-outline-rounded"
    />
    <CardProjects
      img={RA}
      title={t("projects.cards.rocketassault.title")}
      desc={t("projects.cards.rocketassault.desc")}
      btnLink="https://store.steampowered.com/app/880730"
      btnText={t("projects.cards.rocketassault.btnText")}
      btnIcon="material-symbols:stadia-controller-outline"
    />
    <CardProjects
      img={Astroimg}
      title={t("projects.cards.astrostarlight.title")}
      desc={t("projects.cards.astrostarlight.desc")}
      btnLink="https://docs.astro.build/it"
      btnText={t("projects.cards.astrostarlight.btnText")}
      btnIcon="material-symbols:edit-document-outline-rounded"
    />
    <CardProjects
      img={Carsteroids}
      title={t("projects.cards.carsteroids.title")}
      desc={t("projects.cards.carsteroids.desc")}
      btnLink="https://store.steampowered.com/app/671470"
      btnText={t("projects.cards.carsteroids.btnText")}
      btnIcon="material-symbols:stadia-controller-outline"
    />
    <CardProjects
      img={Chance}
      title={t("projects.cards.1chance.title")}
      desc={t("projects.cards.1chance.desc")}
      btnLink="https://apps.apple.com/app/1-chance/id1529736678"
      btnText={t("projects.cards.1chance.btnText")}
      btnIcon="material-symbols:stadia-controller-outline"
    />
    <CardProjects
      img={Niagara}
      title={t("projects.cards.niagara.title")}
      desc={t("projects.cards.niagara.desc")}
      btnLink="https://play.google.com/store/apps/details?id=bitpit.launcher"
      btnText={t("projects.cards.niagara.btnText")}
      btnIcon="bxl:play-store"
    />
  </Projects>
</Default>
<NowPlaying client:idle />
