---
import { getRelativeLocaleUrl } from "astro:i18n";

import Default from "@layouts/Default.astro";
import Projects from "@layouts/Projects.astro";

import Navbar from "@components/Navbar.astro";
import Card from "@components/Card.astro";
import Socials from "@components/Socials.astro";
import CardProjects from "@components/CardProjects.astro";
import Footer from "@components/Footer.astro";

import NowPlaying from "@components/NowPlaying.svelte";

import Chance from "@images/1Chance.png";
import Carsteroids from "@images/Carsteroids.jpg";
import Fedora33 from "@images/Fedora 33 wallpaper.jpg";
import MetaSpark from "@images/Meta Spark.jpg";
import Niagara from "@images/Niagara.png";
import RA from "@images/RA.jpg";
import Sedbot from "@images/sedbot.jpg";
import Webscreenshot from "@images/webscreenshot.png";
import Astroimg from "@images/astro.jpg";

const enContact = getRelativeLocaleUrl("en", "contact");
---

<Default title="Home" lang="en">
  <Navbar brand="casungo" home="Home" translate="Language" />
  <Card
    title="About Me"
    desc="Hi, my name is Alessandro and I am passionate about design and programming. Below you will find a section to contact me and another section for the projects I have contributed to or developed myself."
  />
  <Card title="Reach out">
    <div class="text-center">
      <a class="btn btn-primary btn-lg m-1" href={enContact} role="button"><i class="bi bi-envelope"></i> Send me a message</a>
      <div class="divider py-3">or</div>
      <Socials />
    </div>
  </Card>
  <Projects title="My projects">
    <CardProjects
      img={Webscreenshot}
      title="This website"
      desc="I made this website with Astro, Bootstrap & Cloudflare."
      btnLink="https://github.com/casungo/casungo-site"
      btnText="Check out the source code!"
      btnIcon="bi bi-github"
    />
    <CardProjects
      img={Sedbot}
      title="@sedbot Telegram bot"
      desc="I created this Telegram bot to mimic the function that sed provides in Unix terminals."
      btnLink="https://t.me/sedbot"
      btnText="Try @sedbot"
      btnIcon="bi bi-telegram"
    />
    <CardProjects
      img={Fedora33}
      title="Fedora 33 Wallpaper"
      desc="I contributed to the development of the default Fedora 33 Wallpaper that gets shown on every machine with a new install of the OS!"
      btnLink="https://pagure.io/design/issue/raw/files/219f997ff4aa506ea4ec4b3f82d380f32e2411027f3d62f8d8b059d55ed3c3b3-dawn.png"
      btnText="View the wallpaper!"
      btnIcon="bi bi-image"
    />
    <CardProjects
      img={MetaSpark}
      title="Instagram Filter"
      desc="I made some Instagram filters with Meta Spark. So far my most successful filter has 860K+ impressions and 540K+ opens with 14K+ shares."
      btnLink="https://www.instagram.com/ar/361254755244484"
      btnText="Try my filter!"
      btnIcon="bi bi-instagram"
    />
    <CardProjects
      img={RA}
      title="Rocket Assault"
      desc="I translated more than 600 words for this game. The game feels like Rocket League and speedrunning combined, really challenging."
      btnLink="https://store.steampowered.com/app/880730"
      btnText="Buy Rocket Assault!"
      btnIcon="bi bi-controller"
    />
    <CardProjects
      img={Astroimg}
      title="Astro & starlight"
      desc="I am actively translating the documentation of Astro, a framework that I am currently using to build this site, and Starlight, a tool to create a site for the documentation for any product, leveraging the power of Astro."
      btnLink="https://docs.astro.build/it"
      btnText="Read the documentation!"
      btnIcon="bi bi-book"
    />
    <CardProjects
      img={Carsteroids}
      title="Carsteroids"
      desc="I translated more than 3.500 words for this game. A really well made top-down shooter."
      btnLink="https://store.steampowered.com/app/671470"
      btnText="Play CARSTEROIDS!"
      btnIcon="bi bi-controller"
    />
    <CardProjects
      img={Chance}
      title="1 Chance"
      desc="I translated more than 440 words for this game. Try it, it's free!"
      btnLink="https://apps.apple.com/app/1-chance/id1529736678"
      btnText="Play 1 Chance!"
      btnIcon="bi bi-controller"
    />
    <CardProjects
      img={Niagara}
      title="Niagara Launcher"
      desc="I translated more than 4.500 words for this app. I use this launcher on a daily basis and I recommend it to everyone."
      btnLink="https://play.google.com/store/apps/details?id=bitpit.launcher"
      btnText="Try Niagara Launcher"
      btnIcon="bi bi-google-play"
    />
  </Projects>
  <Footer text="This site is powered by Astro, Bootstrap & Cloudflare." />
</Default>
<NowPlaying client:idle title="Alessandro is listening to" by="by" notPlayingSomethingText="Normally you should see what I'm listening to on Spotify in real time, but now I'm not listening to anything :)" />
