---
import { Image } from "astro:assets";
const { img, title, desc, btnLink, btnIcon, btnText } = Astro.props;
---

<div class="col">
  <div class="card h-100">
    <div class="ratio ratio-16x9">
      <Image src={img} class="card-img-top" draggable="false" alt={title} />
    </div>
    <div class="card-body">
      <h5 class="card-title">{title}</h5>
      <p class="card-text">{desc}</p>
    </div>
    <div class="card-footer">
      <a href={btnLink} class="btn btn-outline-light"><i class={btnIcon}></i> {btnText}</a>
    </div>
  </div>
</div>
