---
import { Image } from "astro:assets";
const { img, title, desc, btnLink, btnIcon, btnText } = Astro.props;
import { Icon } from "astro-icon/components";
---

<div class="card h-full bg-base-200 m-2">
  <figure>
    <Image src={img} class="card-img-top aspect-video" draggable="false" alt={title} />
  </figure>
  <div class="card-body">
    <p class="card-title">{title}</p>
    <p class="card-text">{desc}</p>
    <div class="card-actions justify-end">
      <a href={btnLink} class="btn btn-outline text-wrap"><Icon class="text-xl" name={btnIcon} /> {btnText}</a>
    </div>
  </div>
</div>
