---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

interface Props {
  project: CollectionEntry<"projects">;
}

const { data, slug } = Astro.props.project;
---

<div class="col py-3">
  <div class="card h-100 shadow">
    <div class="ratio ratio-16x9">
      <Image
        src={data.heroImage}
        alt={data.title}
        class="card-img-top"
        draggable="false"
      />
    </div>
    <div class="card-body">
      <h5 class="card-title">{data.title}</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">
        {data.description}
      </h6>
    </div>
    <div class="card-footer">
      <a href={`/projects/${slug}`} class="btn btn-outline-primary">
        <i class="bi bi-camera"></i> Vai alle foto!
      </a>
    </div>
  </div>
</div>
