---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

interface Props {
  project: CollectionEntry<"projects">;
}

const { data, slug } = Astro.props.project;

function formatDate(date: number | Date) {
  const options = {
    weekday: "long",
    year: "numeric",
    month: "long",
    day: "numeric",
  };
  return new Intl.DateTimeFormat("it-IT", options).format(date);
}
---

<div class="col m-3">
  <div class="card bg-base-300 shadow">
    <div class="ratio-video">
      <Image src={data.heroImage} alt={data.title} draggable="false" />
    </div>
    <div class="card-body">
      <h5 class="card-title">{data.title}</h5>
      <div class="badge badge-secondary">Scattate {formatDate(data.pubDate)}</div>
      <h6 set:html={data.description} class="card-subtitle text-body-secondary" />
      <div class="card-actions justify-end">
        <a href={`/projects/${slug}`} class="btn btn-primary">
          <i class="bi bi-camera"></i> Vai alle foto!
        </a>
      </div>
    </div>
  </div>
</div>
