---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

interface Props {
  project: CollectionEntry<"projects">;
}

const { data } = Astro.props.project;

function formatDate(date: number | Date) {
  const options = {
    weekday: "long",
    year: "numeric",
    month: "long",
    day: "numeric",
  };
  return new Intl.DateTimeFormat("it-IT", options).format(date);
}
---

<div class="m-3">
  <div class="from-indigo-500 h-40 w-full">
    <figure>
      <div class="aspect-video">
        <Image src={data.heroImage} alt={data.title} />
      </div>
    </figure>
    <div class="">
      {formatDate(data.pubDate)}
      <br />
      {data.title}
    </div>
  </div>
</div>

<div class="card m-3">
  <div class="card-body">
    <p set:html={data.credit} class="card-text fs-6" />
  </div>
</div>
