---
import { type CollectionEntry, getCollection } from 'astro:content';
import { Image } from "astro:assets";

import TitleCardProj from '@components/TitleCardProj.astro';

import BaseLayout from '@layouts/Default.astro';

interface Props {
	entry: CollectionEntry<'projects'>;
}

export async function getStaticPaths() {
  const projects = await getCollection('projects');
  return projects.map(entry => ({
    params: { slug: entry.slug }, props: { entry },
  }));
}

const { entry } = Astro.props;
const photos = entry.data.images;

import Navbar from "@components/Navbar.astro";
---

<BaseLayout>
<Navbar brand="casungo" home="Home" translate="Lingua" />
<link rel="stylesheet" href="/photoswipe/photoswipe.css" slot="head" />
<h1 class="text-center">
  <TitleCardProj project={entry} />
</h1>
  <div class="pswp-gallery centered" id="gallery">
    <div class="gallery-container">
      {photos.map((photo: any, index) => ( 
        <div class="image-wrapper">
          <a href={photo.src} data-pswp-width={photo.width} data-pswp-height={photo.height} target="_blank">
          <Image src={entry.data.images[index]} alt="{entry.data.title}" class="img-fluid rounded m-2 shadow" width="150"/>
            <style>
              @media (min-width: 576px) {
                Image {
                width: 200px;
                }
              }
            </style>
          </a>
        </div>
      ))}
    </div>
  </div>
</BaseLayout>

<script>
  import PhotoSwipeLightbox from "photoswipe/lightbox";
  import "photoswipe/style.css";

  const lightbox = new PhotoSwipeLightbox({
    gallery: "#gallery",
    children: "a",
    pswpModule: () => import("photoswipe"),
    wheelToZoom: true,
    pinchToClose: false,
  });

  lightbox.init();
</script>
